In [1]:
import sys

sys.path.append('../')
import mustaching as ms


%load_ext autoreload
%autoreload 2

# Load transactions

In [2]:
# Invent some sample transactions.
transactions = ms.create_transactions('2017-01-01', '2017-12-31')

# Alternatively, upload your own transactions as say 'my_transactions.csv' 
#transactions = ms.read_transactions('my_transactions.csv')

transactions.head(10)

                 date  amount description       comment      category
0 2017-01-01 00:00:00      23     0xcccf1  0xa4ea4c940d   programming
1 2017-01-01 12:00:00      69     0x79adb  0xec63514fe6     investing
2 2017-01-02 00:00:00      17     0xdd3fd  0x9f024adf37     investing
3 2017-01-02 12:00:00      23     0x162ca  0x88596bea48     investing
4 2017-01-03 00:00:00      -7     0xc651f  0x687a3cf413     transport
5 2017-01-03 12:00:00      -8     0xbe13b  0x8e1850ce59  soil testing
6 2017-01-04 00:00:00     -31     0x14229   0x596974b99          food
7 2017-01-04 12:00:00      85     0x11be0   0xfe010f173     investing
8 2017-01-05 00:00:00      21     0x59064  0xb9c861b288   programming
9 2017-01-05 12:00:00      53     0xe9abe  0xe00d4ae429     investing

# Summarize transactions and plot

In [3]:
# Summarize over entire period by category
s1 = ms.summarize(transactions, by_category=True)
s1

,date,category,income,expense,balance,savings_pc_for_period,spending_pc_for_period,spending_pc_for_period_and_category,income_pc_for_period_and_category,expense_pc_for_period_and_category,daily_avg,weekly_avg,monthly_avg,yearly_avg
0,2017-01-01,food,0,1667,9585,46.28,53.72,8.05,0.00,14.98,-4.57,-31.97,-138.92,-1667.0
1,2017-01-01,healthcare,0,1763,9585,46.28,53.72,8.51,0.00,15.85,-4.83,-33.81,-146.92,-1763.0
2,2017-01-01,investing,4698,0,9585,46.28,53.72,0.00,22.68,0.00,12.87,90.10,391.50,4698.0
3,2017-01-01,programming,11436,0,9585,46.28,53.72,0.00,55.22,0.00,31.33,219.32,953.00,11436.0
4,2017-01-01,reiki,4577,0,9585,46.28,53.72,0.00,22.10,0.00,12.54,87.78,381.42,4577.0
5,2017-01-01,shelter,0,3880,9585,46.28,53.72,18.73,0.00,34.87,-10.63,-74.41,-323.33,-3880.0
6,2017-01-01,soil testing,0,1992,9585,46.28,53.72,9.62,0.00,17.90,-5.46,-38.20,-166.00,-1992.0
7,2017-01-01,transport,0,1824,9585,46.28,53.72,8.81,0.00,16.39,-5.00,-34.98,-152.00,-1824.0

In [4]:
ms.plot(s1)

In [5]:
# Summarize by month start
s2 = ms.summarize(transactions, freq='MS', by_category=False)
s2

,date,income,expense,balance,savings_pc_for_period,spending_pc_for_period
0,2017-01-01,1701,912,789,46.38,53.62
1,2017-02-01,1881,796,1874,57.68,42.32
2,2017-03-01,1709,912,2671,46.64,53.36
3,2017-04-01,1912,948,3635,50.42,49.58
4,2017-05-01,1680,1067,4248,36.49,63.51
5,2017-06-01,1481,803,4926,45.78,54.22
6,2017-07-01,1909,931,5904,51.23,48.77
7,2017-08-01,1806,982,6728,45.63,54.37
8,2017-09-01,2027,853,7902,57.92,42.08
9,2017-10-01,1392,968,8326,30.46,69.54
10,2017-11-01,1592,951,8967,40.26,59.74
11,2017-12-01,1621,1003,9585,38.12,61.88

In [6]:
ms.plot(s2)

In [7]:
# Summarize by quarter start and by category
s3 = ms.summarize(transactions, freq='QS', by_category=True)
s3

,date,category,income,expense,balance,savings_pc_for_period,spending_pc_for_period,spending_pc_for_period_and_category,income_pc_for_period_and_category,expense_pc_for_period_and_category
0,2017-01-01,food,0,450,2671,50.48,49.52,8.51,0.00,17.18
1,2017-01-01,healthcare,0,614,2671,50.48,49.52,11.60,0.00,23.44
2,2017-01-01,investing,1406,0,2671,50.48,49.52,0.00,26.57,0.00
3,2017-01-01,programming,2411,0,2671,50.48,49.52,0.00,45.57,0.00
4,2017-01-01,reiki,1474,0,2671,50.48,49.52,0.00,27.86,0.00
5,2017-01-01,shelter,0,1012,2671,50.48,49.52,19.13,0.00,38.63
6,2017-01-01,soil testing,0,318,2671,50.48,49.52,6.01,0.00,12.14
7,2017-01-01,transport,0,226,2671,50.48,49.52,4.27,0.00,8.63
8,2017-04-01,food,0,347,4926,44.45,55.55,6.84,0.00,12.31
9,2017-04-01,healthcare,0,584,4926,44.45,55.55,11.51,0.00,20.72
10,2017-04-01,investing,1006,0,4926,44.45,55.55,0.00,19.83,0.00
11,2017-04-01,programming,2924,0,4926,44.45,55.55,0.00,57.64,0.00
12,2017-04-01,reiki,1143,0,4926,44.45,55.55,0.00,22.53,0.00
13,2017-04-01,shelter,0,974,4926,44.45,55.55,19.20,0.00,34.56
14,2017-04-01,soil testing,0,388,4926,44.45,55.55,7.65,0.00,13.77
15,2017-04-01,transport,0,525,4926,44.45,55.55,10.35,0.00,18.63
16,2017-07-01,food,0,321,7902,51.83,48.17,5.59,0.00,11.61
17,2017-07-01,healthcare,0,149,7902,51.83,48.17,2.59,0.00,5.39
18,2017-07-01,investing,1129,0,7902,51.83,48.17,0.00,19.66,0.00
19,2017-07-01,programming,3657,0,7902,51.83,48.17,0.00,63.69,0.00
20,2017-07-01,reiki,956,0,7902,51.83,48.17,0.00,16.65,0.00
21,2017-07-01,shelter,0,1110,7902,51.83,48.17,19.33,0.00,40.13
22,2017-07-01,soil testing,0,466,7902,51.83,48.17,8.12,0.00,16.85
23,2017-07-01,transport,0,720,7902,51.83,48.17,12.54,0.00,26.03
24,2017-10-01,food,0,549,9585,36.55,63.45,11.92,0.00,18.79
25,2017-10-01,healthcare,0,416,9585,36.55,63.45,9.03,0.00,14.24
26,2017-10-01,investing,1157,0,9585,36.55,63.45,0.00,25.12,0.00
27,2017-10-01,programming,2444,0,9585,36.55,63.45,0.00,53.07,0.00
28,2017-10-01,reiki,1004,0,9585,36.55,63.45,0.00,21.80,0.00
29,2017-10-01,shelter,0,784,9585,36.55,63.45,17.02,0.00,26.83
30,2017-10-01,soil testing,0,820,9585,36.55,63.45,17.81,0.00,28.06
31,2017-10-01,transport,0,353,9585,36.55,63.45,7.67,0.00,12.08

In [8]:
ms.plot(s3)