In [7]:
import pathlib as pl
import sys
import pandas as pd
import numpy as np
import itertools as it

sys.path.append('../')
import mustaching as ms


%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

# Load transactions

In [12]:
# Invent some sample transactions.
transactions = ms.create_transactions('2020-01-01', '2020-12-31')

# Alternatively, upload your own transactions as say 'my_transactions.csv' 
# transactions = ms.read_transactions(path)

transactions.head(10)

                 date  amount description       comment     category
0 2020-01-01 00:00:00     -50     0xeadbc  0x3742205385   healthcare
1 2020-01-01 12:00:00      93     0xa7748   0xded23b225  programming
2 2020-01-02 00:00:00      31     0x24f1a   0xdf3cf6cb3  programming
3 2020-01-02 12:00:00      46     0xcf0fa  0x4300c9f7b4        reiki
4 2020-01-03 00:00:00     -30     0xe4da5   0xc1c4e8c0f   healthcare
5 2020-01-03 12:00:00     -42     0x7f48e  0x23d7a17e1b    transport
6 2020-01-04 00:00:00       3      0x9db0  0xa8f48bd984  programming
7 2020-01-04 12:00:00      87     0xb4321  0x89a591476f        reiki
8 2020-01-05 00:00:00      57     0xc37a9  0xb19c9eaf04  programming
9 2020-01-05 12:00:00      38     0x9a3ae  0xcbe87612c2        reiki

In [13]:
# import io

# ms.read_transactions(io.StringIO(transactions.to_csv(index=False)))

# Summarize transactions and plot

In [14]:
# Summarize over entire period by category
summary = ms.summarize(transactions, freq="QS")
for k,v in summary.items():
    print(k)
    display(v)

by_none

  start_date   end_date  income  expense  balance  savings_pc
0 2020-01-01 2020-12-31   22031    10387    11644       52.85

by_period

,date,income,expense,balance,savings_pc,cumulative_income,cumulative_balance,cumulative_savings_pc
0,2020-01-01,5732,2688,3044,53.11,5732,3044,53.11
1,2020-04-01,5044,2569,2475,49.07,10776,5519,51.22
2,2020-07-01,6359,2210,4149,65.25,17135,9668,56.42
3,2020-10-01,4896,2920,1976,40.36,22031,11644,52.85

by_category

,category,income,expense,balance,income_to_total_income_pc,expense_to_total_income_pc,expense_to_total_expense_pc,daily_avg_balance,weekly_avg_balance,monthly_avg_balance,yearly_avg_balance
0,food,0,2493,-2493,0.00,11.32,24.00,-6.81,-47.68,-207.18,-2486.19
1,healthcare,0,2045,-2045,0.00,9.28,19.69,-5.59,-39.11,-169.95,-2039.41
2,investing,4392,0,4392,19.94,0.00,0.00,12.00,84.00,365.00,4380.00
3,programming,11418,0,11418,51.83,0.00,0.00,31.20,218.38,948.90,11386.80
4,reiki,6221,0,6221,28.24,0.00,0.00,17.00,118.98,517.00,6204.00
5,shelter,0,2711,-2711,0.00,12.31,26.10,-7.41,-51.85,-225.30,-2703.59
6,soil testing,0,1869,-1869,0.00,8.48,17.99,-5.11,-35.75,-155.32,-1863.89
7,transport,0,1269,-1269,0.00,5.76,12.22,-3.47,-24.27,-105.46,-1265.53

by_period_and_category

,date,category,income,expense,balance,income_to_period_income_pc,expense_to_period_income_pc,expense_to_period_expense_pc
0,2020-01-01,food,0,505,-505,0.00,8.81,18.79
1,2020-01-01,healthcare,0,733,-733,0.00,12.79,27.27
2,2020-01-01,investing,961,0,961,16.77,0.00,0.00
3,2020-01-01,programming,2690,0,2690,46.93,0.00,0.00
4,2020-01-01,reiki,2081,0,2081,36.30,0.00,0.00
5,2020-01-01,shelter,0,721,-721,0.00,12.58,26.82
6,2020-01-01,soil testing,0,505,-505,0.00,8.81,18.79
7,2020-01-01,transport,0,224,-224,0.00,3.91,8.33
8,2020-04-01,food,0,704,-704,0.00,13.96,27.40
9,2020-04-01,healthcare,0,356,-356,0.00,7.06,13.86
10,2020-04-01,investing,919,0,919,18.22,0.00,0.00
11,2020-04-01,programming,2891,0,2891,57.32,0.00,0.00
12,2020-04-01,reiki,1234,0,1234,24.46,0.00,0.00
13,2020-04-01,shelter,0,762,-762,0.00,15.11,29.66
14,2020-04-01,soil testing,0,428,-428,0.00,8.49,16.66
15,2020-04-01,transport,0,319,-319,0.00,6.32,12.42
16,2020-07-01,food,0,510,-510,0.00,8.02,23.08
17,2020-07-01,healthcare,0,385,-385,0.00,6.05,17.42
18,2020-07-01,investing,1334,0,1334,20.98,0.00,0.00
19,2020-07-01,programming,3290,0,3290,51.74,0.00,0.00
20,2020-07-01,reiki,1735,0,1735,27.28,0.00,0.00
21,2020-07-01,shelter,0,621,-621,0.00,9.77,28.10
22,2020-07-01,soil testing,0,296,-296,0.00,4.65,13.39
23,2020-07-01,transport,0,398,-398,0.00,6.26,18.01
24,2020-10-01,food,0,774,-774,0.00,15.81,26.51
25,2020-10-01,healthcare,0,571,-571,0.00,11.66,19.55
26,2020-10-01,investing,1178,0,1178,24.06,0.00,0.00
27,2020-10-01,programming,2547,0,2547,52.02,0.00,0.00
28,2020-10-01,reiki,1171,0,1171,23.92,0.00,0.00
29,2020-10-01,shelter,0,607,-607,0.00,12.40,20.79
30,2020-10-01,soil testing,0,640,-640,0.00,13.07,21.92
31,2020-10-01,transport,0,328,-328,0.00,6.70,11.23

In [ ]:
summary["by_none"].to_dict("records")[0]

In [ ]:
# Summarize by month start
s2 = ms.summarize(transactions, freq='QS', by_category=True)
s2

In [ ]:
ms.plot(s2)

In [ ]:
# Summarize by quarter start and by category
s3 = ms.summarize(transactions, freq='QS', by_category=True)
s3

In [ ]:
ms.plot(s3)